
.sprites {
  background-image: url(https://ttmini.yizhiwechat.com/keTang/sprites-icons.png);
  background-repeat: no-repeat;
  background-size: 348rpx 280rpx;
}
.icon-v {
  width: 36rpx;
  height: 36rpx;
  background-position: -135rpx -75rpx;
}

.icon-edit {
  width: 32rpx;
  height: 32rpx;
  background-position: -269rpx -137rpx;
}

.icon-play1 {
  width: 40rpx;
  height: 40rpx;
  background-position: -167rpx -191rpx;
}

.icon-play2 {
  width: 22rpx;
  height: 22rpx;
  background-position: -313rpx -163rpx;
}

.icon-address {
  width: 30rpx;
  height: 30rpx;
  background-position: -269rpx -177rpx;
}

.icon-order1 {
  width: 32rpx;
  height: 32rpx;
  background-position: -5rpx -245rpx;
}

.icon-close1 {
  width: 46rpx;
  height: 46rpx;
  background-position: -5rpx -191rpx;
}

.icon-close2 {
  width: 30rpx;
  height: 30rpx;
  background-position: -45rpx -245rpx;
}

.icon-hot1 {
  width: 30rpx;
  height: 30rpx;
  background-position: -85rpx -245rpx;
}

.icon-hot2 {
  width: 30rpx;
  height: 30rpx;
  background-position: -125rpx -245rpx;
}

.icon-hot3 {
  width: 48rpx;
  height: 48rpx;
  background-position: -205rpx -69rpx;
}

.icon-book {
  width: 34rpx;
  height: 34rpx;
  background-position: -269rpx -5rpx;
}

.icon-trash {
  width: 54rpx;
  height: 54rpx;
  background-position: -75rpx -121rpx;
}

.icon-menu {
  width: 44rpx;
  height: 44rpx;
  background-position: -59rpx -191rpx;
}

.icon-size {
  width: 28rpx;
  height: 28rpx;
  background-position: -313rpx -125rpx;
}

.icon-hot4 {
  width: 48rpx;
  height: 48rpx;
  background-position: -205rpx -127rpx;
}

.icon-prev {
  width: 60rpx;
  height: 60rpx;
  background-position: -5rpx -51rpx;
}

.icon-prev-prevent {
  width: 60rpx;
  height: 60rpx;
  background-position: -135rpx -5rpx;
}

.icon-time1 {
  width: 30rpx;
  height: 30rpx;
  background-position: -165rpx -245rpx;
}

.icon-collect {
  width: 34rpx;
  height: 34rpx;
  background-position: -269rpx -49rpx;
}

.icon-contract {
  width: 54rpx;
  height: 54rpx;
  background-position: -139rpx -121rpx;
}

.icon-book2 {
  width: 34rpx;
  height: 34rpx;
  background-position: -269rpx -93rpx;
}

.icon-refresh {
  width: 30rpx;
  height: 30rpx;
  background-position: -205rpx -245rpx;
}

.icon-search1 {
  width: 30rpx;
  height: 30rpx;
  background-position: -245rpx -245rpx;
}

.icon-search2 {
  width: 30rpx;
  height: 30rpx;
  background-position: -313rpx -5rpx;
}

.icon-back {
  width: 32rpx;
  height: 32rpx;
  background-position: -313rpx -45rpx;
}

.icon-earphone {
  width: 30rpx;
  height: 30rpx;
  background-position: -313rpx -85rpx;
}

.icon-article {
  width: 44rpx;
  height: 44rpx;
  background-position: -113rpx -191rpx;
}

.icon-next {
  width: 60rpx;
  height: 60rpx;
  background-position: -5rpx -121rpx;
}

.icon-new {
  width: 48rpx;
  height: 48rpx;
  background-position: -75rpx -51rpx;
}

.icon-arrow {
  width: 24rpx;
  height: 24rpx;
  background-position: -313rpx -195rpx;
}

.icon-pause1 {
  width: 22rpx;
  height: 22rpx;
  background-position: -313rpx -227rpx;
}

.icon-pause2 {
  width: 40rpx;
  height: 40rpx;
  background-position: -217rpx -191rpx;
}

.icon-expand {
  width: 54rpx;
  height: 54rpx;
  background-position: -205rpx -5rpx;
}

.icon-learn {
  width: 120rpx;
  height: 36rpx;
  background-position: -5rpx -5rpx;
}